<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link">
            <i class="nav-icon icon-speedometer"></i> Dashboard
            <span class="badge badge-primary">NEW</span>
          </a>
      </li>
      <li class="nav-title">Devices</li>
      <li class="nav-item">
        <a class="nav-link">
            <i class="nav-icon fa fa-lock"></i> Colors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
            <i class="nav-icon icon-pencil"></i> Typography</a>
      </li>
      <li class="nav-title">Groups</li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle">
            <i class="nav-icon icon-puzzle"></i> Base</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link">
                <i class="nav-icon icon-puzzle"></i> Breadcrumb</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
                <i class="nav-icon icon-puzzle"></i> Tooltips</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>